.App {
  text-align: center;
}

.navbar-brand {
  margin-left: 50px;
  /* margin-block: 10px; */
}

.nav-link {  /* Adding margins between the navbar links */
  margin: 20px;
}  

li a:hover {
  background-color: #111;
}

nav { /* Adding rounded corners to the navbar */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: rgb(95, 94, 94);  
  border-width: 2px;
}

/*
  Using css below to add different shades to the card
*/
.card-header {
  background-color: rgb(51, 165, 165);
}

.card-footer {  
  background-color: rgb(51, 165, 165);
}

.card-body {
  background-color: rgb(109, 169, 169);  
}

input:hover {  /* Adding the pointer cursor to the input fields */
  cursor: pointer;
}